

<div class="Row" ng-app="Unic" ng-controller="PessoaController">
    <form>
        <div>

        </div>
    </form>
    <button type="submit" class="btn btn-danger" ng-click="">
        Listar <i class="fa-solid fa-trash-can-plus"></i>
    </button>
</div>

@section scripts
{
   @* @{await Html.RenderPartialAsync("_AngularScriptsPartial");}*@

    <script src="~/js/PessoaController.js"></script>
    <script src="~/js/site.js"></script>
}
